*{
    box-sizing:border-box;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

a.navbar-brand{
    color: black;
    font-size: 1.5em;
    font-weight: 600;
}

.menu_item{
    margin: 25px 15px 15px 15px;
    padding: 15px;
}

.color_me_gray{
    background-color: gray;
}

.color_me_blue{
    background-color: skyblue;
}

.color_me_pink{

    background-color: thistle;
}

.float_right{
float:right;
}
